version: "3.8"
services:
  backend:
    build: ./backend
    container_name: fastapi_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    restart: always

  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "3000:3000"
    restart: always

  mongo:
    image: mongo:6
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
